body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 20px;
    background: linear-gradient(to bottom right, pink, rgb(110, 110, 207));
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-container {
    padding: 1rem;
    height: 60vh;
    width: 120vh;
    border-radius: 12px;
    box-shadow: 0 4px 8px  rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
}
.top-container strong {
    font-size: 40px;
}
.input-container {
    width: 60vh;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: right;
    flex-direction: column;
    gap: 15px;
}
#userInput {
    height: 5vh;
    border-radius: 12px;
    border: 1px solid #ccc;
    outline: none;
    transition: all 0.5s ease;
    padding: 0 1rem;
}

#userInput:focus {
    border-color: #dae603;
    box-shadow: 0 0 20px rgba(240, 255, 25, 0.8); 
    background-color: #fff;
}


#startButton {
    height: 5vh;
    border-radius: 12px;
}