body {
    margin: 0; 
    padding: 0;
    background: linear-gradient(to bottom right, pink, rgb(110, 110, 207));
    display: flex;
    justify-content: center;
    font-family: "ヒラギノ丸ゴ Pro W4", "Hiragino Maru Gothic Pro", "HG丸ｺﾞｼｯｸM-PRO", "MaruGothic", sans-serif;
}

.app-container {
    width: 100%;          max-width: 800px;
    margin: 0 auto;
    padding: 20px;    
}


.input-card {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05); }


.deeply-card{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05); }
  
.text-input, .text-deeply {
    width: 100%;
    height: 150px;       
    padding: 15px;      
    font-size: 16px;    
    
    border-radius: 12px; 
    box-sizing: border-box; 
    resize: none;        
    font-family: inherit;
    margin-top: 10px;
}     
#userDelete {
    margin: auto;
}